body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    min-height: 414px;
    background-image: url("./images/background.png");
}